.body-modalVisualizar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.body-modalVisualizar .modal-content {
    background: white;
    padding: 40px;
    border-radius: 8px;
    width: 45vw;
    max-width: 1150px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}