.body-modalVisualizar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.body-modalVisualizar .modal-content {
    background: white;
    padding: 40px;
    border-radius: 8px;
    width: 85vw;
    max-width: 1150px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}


.body-modalVisualizar .modal-content  .title-modalVisualizar{
    color: #000000;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}

.body-modalVisualizar .modal-content  hr{
    border: 1px solid #E8E8E8;
}

.body-modalVisualizar .modal-content  .formulario .h2-informacoes-pessoais{
    color: #2E2E2E;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.body-modalVisualizar .modal-content .formulario .h2-responsavel{
    color: #2E2E2E;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 25px;
    align-items: flex-end;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo {
    display: flex;
    flex-direction: column;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo span{
    font-size: 13px;
    font-weight: 700;
    color: #2E2E2E;
    margin-top: 10px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .inputMatricula, 
.body-modalVisualizar .modal-content .formulario .linha-flex .campo .inputCep {
    width: 120px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .inputName,
.body-modalVisualizar .modal-content .formulario .linha-flex .campo .inputNomeResponsavel {
    width: 480px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .selectRaca {
    width: 200px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .inputBairro {
    width: 300px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .inputLogradouro {
    width: 200px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .selectPais {
    width: 220px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .selectEstado {
    width: 100px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .selectCidade {
    width: 260px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .selectTurno {
    width: 150px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .inputCpfResponsavel {
    width: 190px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .inputRgResponsavel {
    width: 110px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .selectUf {
    width: 150px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .inputTelefone {
    width: 180px;
}


.body-modalVisualizar .modal-content .formulario .linha-flex .campo .inputComercial {
    width: 205px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .inputCelular {
    width: 210px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .inputEmail {
    width: 190px;
}

.body-modalVisualizar .modal-content .formulario .linha-flex .campo .inputProfissao {
    width: 190px;
}

.body-modalVisualizar .modal-content .formulario .button {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 120px;
}

.body-modalVisualizar .modal-content .formulario .button .btn-voltar{
    padding: 7px 35px;
    border: 1px solid #1090CB;
    background-color: white;
    color: #1090CB;
    border-radius: 5px;

}

.body-modalVisualizar .modal-content .formulario .button .btn-voltar:hover{
    border: 1px solid #1090CB;
    background-color: #1090CB;
    color: white;
}